body {
    background: url(memphis-colorful.png) repeat 0 0;
}
 
h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 72px;
}
h1, h3 {
    color: #5F7D85;
    text-shadow: 2px 2px 2px #ccc;
}
 h3 {
    font-family: 'ABeeZee', sans-serif;
    font-size: 27px;
 }

#app {
    padding: 10px;
}

body, html {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

html {
    box-sizing: 'border-box';
  }

.center {
text-align: center;
}
ul {
    list-style: none;
    padding: 0;
}

li {
    color: #5F7D85;
}
img {
    display: inline;
    width: 200px;
    height: 100px;
}
#footer {
    width: 100%;
    border-top: solid 2px #ffffff00;
    background-color: #ffffffb3;
    position: fixed;
    bottom: 0;
    font-family: 'ABeeZee', sans-serif;
    color: #373737;
}
#guess {
    display: inline;
    font-size: 60px;
    border-top: 5px solid #F9D4CE;
    border-left: 5px solid #F9D4CE;
    border-right: 5px solid #D6A097;
    border-bottom: 5px solid #D6A097;
    padding: 0 25px;
    border-radius: 20px;
}

#guess-list {
    padding: 20px;
}

#player-input {
    text-align: center;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    font-size: 60px;
}

.input-parent-container {
    padding: 30px;
}

#input-parent {
    position: relative;
    width: 160px;
    margin: 5% auto 50px;
    box-shadow: 0 0 1em 1em #ccc;
    border-radius: 50%;
}

#submit {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 110px;
    left: 110px;
}